<!-- begin main -->
<div class="main">
	<div class="main__inner inner">
		<h1 class="title">Hi,You are using Abi2Api</h1>
		<p>It's a simple service that make blockchain usage more easily</p>
		<!-- begin search -->
		<div class="search">
			<div class="search__decription">Put your contract address below </div>
			<form action="/" class="search__form">
				<div class="search__control">
					<input type="text" placeholder="Search">
				</div>
				<button class="search__btn btn" type="submit">Submit</button>
			</form>
			<div class="search__field"></div>
		</div>
		<!-- end search -->
	</div>
</div>
<!-- end main -->